div {
    display: flex;
    flex-direction: row;
    max-width: 500px;
}

ul {
    list-style: none;    
    flex-grow: 1;
}

li {
    height: 2em;
    margin: 2em;
    border-bottom: 0.1em black solid;
}